/* Stylesheet for the 'Webrichtlijnen' Plone theme */

#portal-searchbox .searchSection label {
    cursor: pointer;
}

.portalMessage.hide {
    display: none;
}

#searchform .right-col {
    float: right;
    margin-left: 2em;
}
#searchform .left-col {
    float: left;
    margin-right: 2em;
}